.cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 2rem;
    margin: 0 auto;
    gap: 2rem;
}

.info-card {
    width: 100%;
    background-color: var(--bg-card);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.info-card:hover {
    transform: translateY(-8px);
    border-color: var(--color-blue);
    box-shadow: 0 0 20px var(--shadow-hover);
}

.info-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 0.6rem;
}

.title-card {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin-bottom: 0.6rem;
    padding: 0.5rem;
    color:  var(--color-yellon);
}

.description-card {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-align: justify;
    padding: 0.5rem;
    color:  var(--text-muted);
}


.btn-card {
    display: flex;
    margin-top: 1.2rem;
    z-index: 1;
    padding: 0.5rem;
    gap: 1.2rem;
}

.btn-view a,
.btn-code a {
    padding: 14px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600px;
    transition: 0.3s;
}

.btn-view a {
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-decoration: none;
    background: var(--color-blue);
    color: var( --text-primary);
}

.btn-code a {
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-decoration: none;
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
}